* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html, body {
  background-color: #171717;
  color: #ffffff;
  font-family: 'Open-Sans', sans-serif;
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
}

h2 {
  font-size: 36px;
  border-bottom: 2px solid #efc20e;
  margin-top: 50px;
}

.container {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 .625rem;
}

a {
  display: inline-block;
  color: #efc20e;
  text-decoration: none;
  transition: color, .5s;

  &:hover {
    color: #ffffff;
  }
}

main {
  font-size: 18px;
}

.wp-block-table {
  td {
    vertical-align: top;
    padding: 10px 0;
    line-height: 1.5;
  }
  td:first-child {
    font-family: "Poppins", sans-serif;
    width: 120px;
  }
}

@media screen and (max-width: 1024px) {


  .wp-block-column {
    flex-basis: calc(50% - 20px) !important;
    margin: 0 10px;
  }

  #welcome .wp-block-column,
  #work-items .wp-block-column {
    flex-basis: 100% !important;
  }

  main {
    padding: 60px 15px 0;
  }

}