
.block-editor {


  .skill img {
    filter: none;
  }
}

.skill {
  width: 100%;
  display: flex;
  align-items: center;
  font-size: 20px;
  line-height: 2.5;
  margin: 10px 0;


  img {
    filter: invert(1);
    width: 40px;
    height: 40px;
    object-fit: contain;
    margin-right: 15px;
  }
}

.block-work {
  background-color: $color-tertiary;
  border: 2px solid $color-primary;
  width: 100%;
  padding: 20px;
  margin-bottom: 50px;

  iframe {
    width: 100%;
    height: 600px;
  }

  &--title {
    color: #ffffff !important;
    font-size: 24px;
    margin: 0 0 15px;
  }

  &--tags {
    display: flex;
    flex-wrap: wrap;
    margin: 0 0 30px 0;

    &:hover {
      cursor: default;
    }

    > div {
      font-size: 12px;
      padding: 5px 10px;
      color: $color-tertiary;
      font-weight: bold;
      font-family: 'Poppins', sans-serif;
      background-color: $color-primary;
      margin: 0 15px 15px 0;
    }
  }

  &--gallery {
    width: 100%;
    margin: 30px 0;
    display: flex;
    flex-wrap: wrap;

    .img-zoom {
      cursor: pointer;
      width: 50%;

      > img {
        display: block;
        width: 100%;
        object-fit: contain;
        max-height: 400px;
      }

      &.open {
        background-color: $color-tertiary;
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        padding: 5vh 10vw;
        width: 100vw;
        height: 100vh;
        top: 0;
        left: 0;
        overflow-y: scroll;

        > img {
          object-fit: contain;
          width: 100%;
          height: 100%;
        }
      }
    }

  }

  &--link {
    font-family: 'Poppins', sans-serif;
    letter-spacing: 1px;
    font-weight: bold;
    border: 1px solid $color-primary;
    color: $color-primary;
    padding: 5px 15px;
    margin: 0 15px 0 0;

    &:hover {
      border: 1px solid $color-tertiary;
      color: $color-tertiary;
      background-color: $color-primary;
    }
  }

  &--description {

  }

  .figma {
    border: 2px solid $color-primary;
    height: 400px;
    cursor: pointer;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;

    &:hover i {
      animation: rotate .5s;
    }

    i {
      color: $color-primary;
      font-size: 60px;
    }

    iframe {
      border: none;
      height: 100%;
    }
  }

}

.block-portrait {
  position: relative;
  width: 100%;
  margin: 50px 0 10px;

  &::before {
    content: '';
    position: absolute;
    left: 20%;
    top: 10%;
    width: 40%;
    height: 20%;
    background-color: $color-primary;
    z-index: 5;
  }

  &::after {
    content: '';
    position: absolute;
    left: 40%;
    top: 50%;
    width: 10%;
    height: 40%;
    background-color: $color-secondary;
    z-index: 7;
  }

  img {
    filter: grayscale(100%);
    position: relative;
    z-index: 6;
    width: 250px;
    height: auto;
    border-radius: 50%;
    border: 2px solid $color-secondary;
  }
}

@media screen and (max-width: 1024px) {

  .skill {
    img {
      width: 30px;
      height: 30px;
    }
  }

  .block-work {
    &--gallery {
      .img-zoom > img {
        height: auto;
      }
    }
  }

  #welcome {
    h3 {
      margin: 15px;
    }
  }

  .block-portrait {
    &::before,
    &::after {
      display: none;
    }
  }

}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(180deg);
  }
}