

header#main {
  z-index: 100;
  padding: 30px 0;
  background-color: $color-tertiary;

  > .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .menu-toggle {
    display: none;
  }

  .custom-logo-link {
    display: block;
    height: 80px;

    img {
      height: 100%;
      width: auto;
    }
  }


}

header#main .navigation {
  display: flex;
  flex-flow: row;
  justify-content: flex-end;
  align-items: center;

  a {
    position: relative;
    color: #ffffff;
    font-size: 22px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    margin: 1.75rem 10px;

    &::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: -5px;
      width: 0;
      height: 3px;
      background-color: $color-primary;
      transition: width, .5s;
    }
    &:hover {
      color: $color-primary;
      &::after {
        width: 100%;
      }
    }
  }

}

@media screen and (max-width: 1024px) {

  header#main {
    display: flex;
    align-items: center;
    padding: 15px 15px 5px;
    width: 100vw;
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;


    > div {
      height: 100%;
    }

    .custom-logo-link {
      z-index: 11;
      position: relative;
      height: 100%;
    }

    .navigation {
      background-color: $color-tertiary;
      display: flex;
      flex-flow: column;
      align-items: center;
      justify-content: center;
      position: fixed;
      width: 100vw;
      height: 0;
      z-index: 10;
      top: 60px;
      left: 0;
      transition: height, .25s;
      overflow: hidden;

      a {
        font-size: 36px;
      }

      &.is-active {
        height: calc(100vh - 60px);
      }
    }
    .menu-toggle {
      display: block;
      position: relative;
      z-index: 11;

      .hamburger-box {
        display: block;
      }
    }
  }

}